/*Entrenamientos*/
.ent__layout{
    background-image:url(../imagenes/continuous-line-drawing-of-young-strong-weightlifter-woman-preparing-for-barbell-workout-in-gym-isolated-on-white-background-weight-lifting-training-concept-characte.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
}

.nos__entre{
    display: flex;
    justify-content:center;
    font-size: 75px;
}

.hr__1{
    border: 13px solid tomato;
    opacity: 100%;
}

.ent__fun{
    margin-left: 25px;
    width: 600px;
    font-size: 25px;
}


.img__fun{
    width: 440px;
    height: 220;
}

.ent__str{
    margin-left: 65%;
}

.img__str{
    width: 440px;
    height: 220;
}

.ent__pot{
    margin-left: 25px;
}

.img__pot{
    width: 440px;
    height: 220;
}

.ent__elo{
    margin-left: 65%;
    margin-bottom: 150px;
}

.img__elo{
    width: 440px;
    height: 220;
}