/*RGA*/
.rga__layout{
    background-image:url(../imagenes/continuous-line-drawing-of-young-strong-weightlifter-woman-preparing-for-barbell-workout-in-gym-isolated-on-white-background-weight-lifting-training-concept-characte.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
}

.tit__rga{
    display:flex ;
    justify-content: center;
    font-size: 75px;
}

#img__rg{
    display: flex;
    justify-content: center;
}

.img__rga{
    width: 300px;
    height: 450px;
    border: 3px red double;
    border-radius: 52px;
}

.intro__rga{
    display: flex;
    justify-content: center;
    width: 600px;
    background-color: tomato;
    border: 2px solid red;
    border-radius: 15px;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 364px;
    margin-top: 20px ;
}

#intro__rga{
    font-size: 20px;
    margin-top: 10px;
    color: black;
}

@media (max-width:576px){
    .rga__layout{
        background-image:url(../imagenes/continuous-line-drawing-of-young-strong-weightlifter-woman-preparing-for-barbell-workout-in-gym-isolated-on-white-background-weight-lifting-training-concept-characte.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .tit__rga{
        display:flex ;
        justify-content: center;
        font-size: 45px;
    }
    
    .img__rga{
        width: 250px;
        height: 400px;
        border: 3px red double;
        border-radius: 52px;
    }

    .intro__rga{
        display: flex;
        justify-content: center;
        width: 400px;
        background-color: tomato;
        border: 2px solid red;
        border-radius: 15px;
        margin-bottom: 50px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 85px;
        margin-top: 20px ;
    }
       

}