@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', cursive; }

/*navbar*/
.navbar {
  background-color: black; }

.lis:link {
  color: white; }

.lis:link:hover {
  color: black;
  background-color: white; }

.lis:visited {
  color: white; }

.lis:visited:hover {
  color: black;
  background-color: white; }

li {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-size: 20px; }

.logo__1 {
  width: 75px;
  height: 75px;
  margin-left: 25px; }

.dropdown-menu {
  background-color: lightgray; }

/*inicio*/
.body__inicio {
  background-image: url(../imagenes/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px; }

.img {
  width: 200px;
  height: 200px;
  margin-top: 25px; }

#bienve {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  font-size: 75px; }

.intro {
  width: 800px;
  display: block;
  font-size: 25px;
  margin-left: 280px;
  text-align: justify;
  color: black; }

.intro__1 {
  margin-top: 25px;
  background-color: tomato;
  border: 2px solid red;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 100px; }

@media (max-width: 576px) {
  .body__inicio {
    background-image: url(../imagenes/continuous-line-drawing-of-young-strong-weightlifter-woman-preparing-for-barbell-workout-in-gym-isolated-on-white-background-weight-lifting-training-concept-characte.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; }
  #bienve {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: 45px; }
  .intro {
    width: 400px;
    font-size: 18px;
    text-align: justify;
    color: black;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 85px; }
  .intro__1 {
    margin-top: 25px;
    background-color: tomato;
    border: 2px solid red;
    border-radius: 15px;
    padding: 10px; } }

/*Entrenamientos*/
.ent__layout {
  background-image: url(../imagenes/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px; }

.nos__entre {
  display: flex;
  justify-content: center;
  font-size: 75px; }

.hr__1 {
  border: 13px solid tomato;
  width: 100%;
  opacity: 100%;
  margin-left: 0; }

.ent__fun {
  display: inline-block; }

.h2__fun {
  margin-left: 30px;
  background-color: black;
  color: white;
  border: 5px black solid;
  border-radius: 7px;
  width: 284px; }

.img__fun {
  width: 440px;
  height: 220;
  float: left;
  margin-left: 30px;
  border: 7px black solid;
  border-radius: 5px; }

.p__fun {
  margin-top: 30px;
  width: 580px;
  font-size: 20px;
  float: right;
  margin-left: 210px;
  display: inline;
  background-color: tomato;
  border: 2px solid red;
  border-radius: 15px;
  padding: 10px; }

.ent__str {
  display: inline-block; }

.h2__str {
  margin-right: 235px;
  float: right;
  background-color: black;
  color: white;
  border: 5px black solid;
  border-radius: 7px;
  width: 284px; }

.img__str {
  width: 440px;
  height: 220;
  float: right;
  margin-right: 79px;
  border: 7px black solid;
  border-radius: 5px;
  display: inline; }

.p__str {
  width: 580px;
  font-size: 20px;
  float: left;
  margin-left: 30px;
  margin-right: 210px;
  margin-top: 70px;
  background-color: tomato;
  border: 2px solid red;
  border-radius: 15px;
  padding: 10px; }

.ent__pot {
  display: inline-block; }

.h2__pot {
  margin-left: 30px;
  background-color: black;
  color: white;
  border: 5px black solid;
  border-radius: 7px;
  width: 290px; }

.img__pot {
  width: 440px;
  height: 220;
  float: left;
  margin-left: 30px;
  border: 7px black solid;
  border-radius: 5px; }

.p__pot {
  margin-top: 50px;
  width: 580px;
  font-size: 20px;
  float: right;
  margin-left: 210px;
  margin-top: 0px;
  display: inline;
  background-color: tomato;
  border: 2px solid red;
  border-radius: 15px;
  padding: 10px; }

.ent__elo {
  display: inline-block; }

.h2__elo {
  margin-right: 388px;
  float: right;
  background-color: black;
  color: white;
  border: 5px black solid;
  border-radius: 7px;
  width: 130px; }

.img__elo {
  width: 440px;
  height: 220;
  float: right;
  margin-right: 79px;
  border: 7px black solid;
  border-radius: 5px;
  display: inline;
  margin-bottom: 30px; }

.p__elo {
  width: 580px;
  font-size: 20px;
  float: left;
  margin-left: 30px;
  margin-right: 210px;
  margin-top: 70px;
  background-color: tomato;
  border: 2px solid red;
  border-radius: 15px;
  padding: 10px; }

@media (max-width: 576px) {
  .nos__entre {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: 45px; }
  .h2__fun {
    display: flex;
    justify-content: center;
    margin-left: 125px; }
  .img__fun {
    display: flex;
    justify-content: center;
    margin-left: 52px; }
  .p__fun {
    display: block;
    width: 300px;
    margin-right: 800px;
    margin-left: 127px; }
  .h2__str {
    display: flex;
    justify-content: center;
    margin-left: 125px; }
  .img__str {
    display: flex;
    justify-content: center;
    margin-left: 52px; }
  .p__str {
    display: block;
    width: 300px;
    margin-right: 800px;
    margin-left: 127px; }
  z
.nos__pot {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: 45px; }
  .h2__pot {
    display: flex;
    justify-content: center;
    margin-left: 125px; }
  .img__pot {
    display: flex;
    justify-content: center;
    margin-left: 52px; }
  .p__pot {
    display: block;
    width: 300px;
    margin-right: 800px;
    margin-left: 127px;
    margin-top: 25px; } }

.con__layout {
  background-image: url(../imagenes/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px;
  height: 750px; }

.input {
  margin: 15px; }

.h1__cons {
  display: flex;
  justify-content: center;
  font-size: 75px; }

.form__con {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 517px;
  background-color: tomato;
  width: 300px;
  padding: 10px;
  border: 5px solid black;
  border-radius: 20px;
  margin-top: 30px; }

.inp__con {
  margin: 10px;
  border: 2px solid black;
  border-radius: 10px; }

#cons {
  height: 125px;
  width: 92%; }

@media (max-width: 576px) {
  .h1__cons {
    display: flex;
    justify-content: center;
    font-size: 45px; }
  .form__con {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 125px;
    background-color: tomato;
    width: 300px;
    padding: 10px;
    border: 5px solid black;
    border-radius: 20px;
    margin-top: 30px; } }

/*JGL*/
.jgl__layout {
  background-image: url(../imagenes/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px; }

.joa__gar {
  display: flex;
  justify-content: center;
  font-size: 75px; }

.img__jo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-right: 30px; }

#img__joa {
  border: 3px red double;
  border-radius: 52px; }

.intro__joa {
  display: flex;
  justify-content: center;
  width: 600px;
  background-color: tomato;
  border: 2px solid red;
  border-radius: 15px;
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 364px; }

#intro__jo {
  font-size: 20px;
  margin-top: 10px;
  color: black; }

@media (max-width: 576px) {
  .jgl__layout {
    background-image: url(../imagenes/continuous-line-drawing-of-young-strong-weightlifter-woman-preparing-for-barbell-workout-in-gym-isolated-on-white-background-weight-lifting-training-concept-characte.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .joa__gar {
    display: flex;
    justify-content: center;
    font-size: 45px; }
  .img__jo {
    display: flex;
    justify-content: center;
    margin-bottom: 30px; }
  #img__joa {
    border: 3px red double;
    border-radius: 52px;
    width: 350px;
    height: 300px; }
  .intro__joa {
    display: flex;
    justify-content: center;
    width: 400px;
    background-color: tomato;
    border: 2px solid red;
    border-radius: 15px;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 75px; } }

/*RGA*/
.rga__layout {
  background-image: url(../imagenes/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px; }

.tit__rga {
  display: flex;
  justify-content: center;
  font-size: 75px; }

#img__rg {
  display: flex;
  justify-content: center; }

.img__rga {
  width: 300px;
  height: 450px;
  border: 3px red double;
  border-radius: 52px; }

.intro__rga {
  display: flex;
  justify-content: center;
  width: 600px;
  background-color: tomato;
  border: 2px solid red;
  border-radius: 15px;
  margin-bottom: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 364px;
  margin-top: 20px; }

#intro__rga {
  font-size: 20px;
  margin-top: 10px;
  color: black; }

@media (max-width: 576px) {
  .rga__layout {
    background-image: url(../imagenes/continuous-line-drawing-of-young-strong-weightlifter-woman-preparing-for-barbell-workout-in-gym-isolated-on-white-background-weight-lifting-training-concept-characte.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .tit__rga {
    display: flex;
    justify-content: center;
    font-size: 45px; }
  .img__rga {
    width: 250px;
    height: 400px;
    border: 3px red double;
    border-radius: 52px; }
  .intro__rga {
    display: flex;
    justify-content: center;
    width: 400px;
    background-color: tomato;
    border: 2px solid red;
    border-radius: 15px;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 85px;
    margin-top: 20px; } }

/*sumate*/
.sum__layout {
  background-image: url(../imagenes/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 10px; }

.tit__sum {
  display: flex;
  justify-content: center;
  font-size: 75px; }

.div__tit2 {
  display: flex;
  justify-content: center; }

.tit2__sum {
  width: 700px;
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: tomato;
  border: 5px solid black;
  border-radius: 3px;
  text-align: center;
  color: black; }

.form__sum {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 515px;
  background-color: tomato;
  width: 300px;
  padding: 10px;
  border: 5px solid black;
  border-radius: 20px; }

.inp__sum {
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px; }

.inp__sex {
  margin-left: 10px; }

.sed {
  width: 200px; }

.exp {
  width: 200px;
  height: 100px; }

.map {
  width: 100%; }

#map {
  width: 100%; }

@media (max-width: 576px) {
  .sum__layout {
    background-image: url(../imagenes/continuous-line-drawing-of-young-strong-weightlifter-woman-preparing-for-barbell-workout-in-gym-isolated-on-white-background-weight-lifting-training-concept-characte.jpg);
    background-repeat: no-repeat;
    background-size: cover; }
  .tit__sum {
    display: flex;
    justify-content: center;
    font-size: 45px; }
  .div__tit2 {
    display: flex;
    justify-content: center; }
  .tit2__sum {
    width: 500px;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: tomato;
    border: 5px solid black;
    border-radius: 3px;
    text-align: center;
    color: black; }
  .form__sum {
    display: flex;
    justify-content: center;
    margin-left: 125px;
    flex-direction: column;
    background-color: tomato;
    width: 300px;
    padding: 10px;
    border: 5px solid black;
    border-radius: 20px; }
  .inp__sum {
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px; }
  .inp__sex {
    margin-left: 10px; }
  .sed {
    width: 200px; }
  .exp {
    width: 200px;
    height: 100px; }
  .map {
    width: 100%; }
  #map {
    width: 100%; } }

.footer {
  background-color: tomato;
  height: 217px; }

.footer__left {
  display: inline; }

.footer__mid {
  display: inline;
  float: center; }

.ul__left {
  list-style: none;
  display: inline-block; }

.ul__mid {
  list-style: none;
  display: inline-block;
  margin-left: 150px; }

.logos__footer {
  width: 30px;
  height: 30px; }

.a__foot:link {
  color: black;
  text-decoration: none; }

.a__foot:visited {
  color: black;
  text-decoration: none; }

.footer__right {
  display: inline-block;
  margin-left: 500px; }

.input__foot {
  list-style: none;
  margin: 10px; }

.foot__inp {
  border: 2px solid black;
  border-radius: 10px; }

.input__text {
  height: 100px;
  width: 250px; }

.copyright {
  display: flex;
  justify-content: center; }

@media (max-width: 576px) {
  .footer {
    background-color: tomato;
    height: 335px;
    font-size: 15px; }
  .footer__right {
    display: inline;
    float: left;
    margin-left: 0px; } }
